---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
  <div class="name-container">
    <h1 class="Nombre">Angel</h1>
    <h1 class="neon-pink">Flores</h1>
	<button class="Inicio" onclick="handleClick()" style="background: none; border: none; padding: 0; font: inherit; cursor: pointer;">
		<h1>Inicio</h1>
	  </button> 
	  
	  <button class="Educacion" onclick="handleClick()" style="background: none; border: none; padding: 0; font: inherit; cursor: pointer;">
		<h1>Educación</h1>
	  </button> 
	  <button class="Proyectos" onclick="handleClick()" style="background: none; border: none; padding: 0; font: inherit; cursor: pointer;">
		<h1>Proyectos</h1>
	  </button> 
	  <button class="Contacto"  onclick="handleClick()" style="background: none; border: none; padding: 0; font: inherit; cursor: pointer;">
		<h1>Contacto</h1>
	  </button> 
	  <button class="About"  onclick="handleClick()" style="background: none; border: none; padding: 0; font: inherit; cursor: pointer;">
		<h1>Acerca de mi </h1>
	  </button> 
	</div>

	<div>
		<div class="Developinfo">
<h1 class="Hello">Hola, soy</h1>
<h1 class="Developer">Angel</h1>
</div>
	</div>
	<div>
		<div class="InfoDevelop">
			<h1>ELMICH</h1>
		</div>
	</div>
	  
</Layout>
